.index-title {
	text-align: center;
	margin: 0px;
}

.create-bookmark {
	text-align: center;
}

.update-bookmark {
	text-align: center;
}

.update-bookmark .bookmark-input {
	font-size: 30px;
}

.create-bookmark .bookmark-input {
	font-size: 24px;
}

#submit-btn {
	margin-top: 2%;
}
.demo-list-control {
  width: 300px;
}

.demo-list-radio {
  display: inline;
}

.mdl-list {
	display: block;
	margin: 0 auto;
}

#bookmark-tags {
	color: #6C7A89;
}

.mdl-list__item {
	overflow: visible;
	font-size: 32px;
	min-height: 0px;
	padding: 10px;
}

.bookmark-list {
	/*text-align: center;*/
	margin-top: 5%;
	list-style: none;
}

.mdl-list__item-avatar.material-icons {
	border-radius: 20% !important;
}

.mdl-list__item--three-line .mdl-list__item-text-body {
	display: block;
	margin-left: 2%;
}

.send-icon {
	margin-left: 15%;
}

.indigo-icons {
	color: #673AB7;
}

.light-gray-icons {
	color: #6C7A89;
	text-decoration: none;
}

.tag-items {
	font-size: 16px;
}

.edit-field {
	margin: 0 auto;
	display: block;
}

#edit-title {
	text-align: center;
	margin: 0px;
	color: #6C7A89;
}

#search {
	text-align: center;
	margin-top: 5%;
}

#tag-selection-area {
	text-align: center;
	margin-top: 10%;
	margin-bottom: 2%;
}

#result-form {
	text-align: center;
}


#tag-add-container {
	text-align: center;
	margin-bottom: 3%;
}