<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
<% include ../partials/nav.ejs %>
    <h1 class="index-title">Webmarker</h1>
    <div id="tag-add-container">
      <h4 id="bookmark-tags">Bookmark tags</h4>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input bookmark-input" type="text" id="tag-add">
        <label class="mdl-textfield__label" for="tag-add">add up to four tags</label>
      </div>
      <br>
      <button id="add-tag-btn" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
        Add Tag
      </button>

      <ul id="tag-display"></ul>
    </div>
    <hr>
    <div id="bookmark-space"class="create-bookmark">
        <form id="bookmark-form" action="/bookmarks/create" method="post">
            <div id="hidden-tags">
              
            </div>
            <div id="input-container">
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input bookmark-input" type="text" id="sample3" name="name">
                <label class="mdl-textfield__label" for="sample3">Bookmark Name</label>
              </div>
            </div>
        <div id="input-container">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input bookmark-input" type="text" id="sample3" name="url">
            <label class="mdl-textfield__label" for="sample3">Paste Bookmark URL here</label>
          </div>
        </div>
          <button id="submit-btn" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" type="submit">
            Save Bookmark
          </button>
        </form>
    </div>

    <% include ../partials/footer.ejs %>
</body>
</html>
