<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>
  <body>
    <% include ../partials/nav.ejs %>


    <div id="search-form-container">
      <form action="/search" method="get">
        <div class="mdl-textfield mdl-js-textfield">
          <input class="mdl-textfield__input" name="search" type="text" id="sample_search">
          <label class="mdl-textfield__label" for="sample_search">Search by tag!</label>
        </div>
        <br>
        <button  class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" type="submit">search</button>
      </form>
    </div>

    <ul class="bookmark-list mdl-list">
      <% bookmarks.forEach(function(bk) { %>
      <li class="mdl-list__item ">
        <li class="mdl-list__item ">
          <span class="mdl-list__item-primary-content">
            <i class="material-icons mdl-list__item-avatar">archive</i>
            <span><a class="light-gray-icons" href="<%= bk.url %>"><%= bk.bookmarkName %></a></span>
            <span class="mdl-list__item-text-body">
              <a class="bookmark-link" target="_blank" href="<%= bk.url %>">
                <i class="material-icons indigo-icons send-icon">send</i>
              </a>
            </span>
          </span>
          <span class="mdl-list__item-secondary-content">
            <a class="mdl-list__item-secondary-action"  href="/edit/<%= bk._id %>">
              <i class=" indigo-icons material-icons">more_horiz</i>
            </a>
          </span>
        </li>
      </li>
      <%}); %>
    </ul>
    <% include ../partials/footer.ejs %>
  </body>
</html>